<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
           				http://www.springframework.org/schema/context
           				http://www.springframework.org/schema/context/spring-context.xsd
           				http://www.springframework.org/schema/util
						http://www.springframework.org/schema/util/spring-util.xsd
           				">
	
	<context:component-scan base-package="com.trustwave.baristamatic.service" />
	
	<util:map id="ingredientCountMap" map-class="java.util.HashMap">
  		<entry key="coffee" value="10" />
  		<entry key="decafCoffee" value="10" />
  		<entry key="sugar" value="10" />
  		<entry key="cream" value="10" />
  		<entry key="espresso" value="10" />
  		<entry key="steamedMilk" value="10" />
  		<entry key="cocoa" value="10" />
  		<entry key="whippedCream" value="10" />
  		<entry key="foamedMilk" value="10" />
	</util:map>
	
	<util:map id="ingredientPriceMap" map-class="java.util.HashMap">
  		<entry key="coffee" value="0.75" />
  		<entry key="decafCoffee" value="0.75" />
  		<entry key="sugar" value="0.25" />
  		<entry key="cream" value="0.25" />
  		<entry key="espresso" value="0.35" />
  		<entry key="steamedMilk" value="0.35" />
  		<entry key="cocoa" value="1.10" />
  		<entry key="whippedCream" value="0.90" />
  		<entry key="foamedMilk" value="1.00" />
	</util:map>
	
	
</beans>
