<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
           				http://www.springframework.org/schema/context
           				http://www.springframework.org/schema/context/spring-context.xsd
           				http://www.springframework.org/schema/util
						http://www.springframework.org/schema/util/spring-util.xsd
           				">
	
	<context:component-scan base-package="com.trustwave.baristamatic.service, com.trustwave.baristamatic.service.impl, com.trustwave.baristamatic.ui" />
	
	<util:map id="ingredientCountMap" map-class="java.util.HashMap">
  		<entry key="Coffee" value="10" />
  		<entry key="Decaf Coffee" value="10" />
  		<entry key="Sugar" value="10" />
  		<entry key="Cream" value="10" />
  		<entry key="Espresso" value="10" />
  		<entry key="Steamed Milk" value="10" />
  		<entry key="Cocoa" value="10" />
  		<entry key="WhippedCream" value="10" />
  		<entry key="Foamed Milk" value="10" />
	</util:map>
	
	<util:map id="ingredientPriceMap" map-class="java.util.HashMap">
  		<entry key="Coffee" value="0.75" />
  		<entry key="Decaf Coffee" value="0.75" />
  		<entry key="Sugar" value="0.25" />
  		<entry key="Cream" value="0.25" />
  		<entry key="Espresso" value="0.35" />
  		<entry key="Steamed Milk" value="0.35" />
  		<entry key="Cocoa" value="1.10" />
  		<entry key="WhippedCream" value="0.90" />
  		<entry key="FoamedMilk" value="1.00" />
	</util:map>
	
	
</beans>
